/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
.header {
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  width: 50%;
}

.header-1:first-of-type {
  font-weight: 400;
}

.header-1:last-of-type {
  font-weight: 600;
}

.message {
  font-size: 15px;
}

/* Cards */
.cards {
  width: 75%;
  margin: 1rem auto 0 auto;
  height: 80vh;
  padding: 0;
}

.card {
  width: 300px;
  height: 220px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 10px 12px 0px rgba(76, 78, 97, 0.25);
}

.card .container {
  width: 90%;
  margin: 1rem auto;
}

.card-body {
  font-size: 15px;
}

.card:first-of-type {
  top: 150px;
  border-top: 5px solid #45d3d3;
}

.card:nth-child(2) {
  top: 50px;
  left: 35%;
  border-top: 5px solid #ea5353;
}
.card:nth-child(3) {
  left: 35%;
  bottom: 440px;
  border-top: 5px solid #fcaf4a;
}
.card:last-of-type {
  left: 70%;
  bottom: 510px;
  border-top: 5px solid #549ef2;
}

.card-image {
  width: 18%;
  position: relative;
  top: 40px;
  left: 190px;
}
/* Footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Queriers */
@media (min-width: 375px) and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100vw;
    display: flex;
    margin: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
    margin: 1rem;
  }

  .card {
    position: relative;
    margin: 0 auto;
  }

  .card:first-of-type {
    left: 0%;
    top: 0;
  }

  .card:nth-child(2) {
    top: 30px;
    left: 0%;
  }
  .card:nth-child(3) {
    top: 60px;
    left: 0%;
  }
  .card:last-of-type {
    top: 90px;
    left: 0%;
  }
}
